<ul id="slider">
  
	<li class="slide1">
		<!-- item 1 -->
		<div class="recent_work top">
			<a href="images/recent_work/image_1.jpg">
			  <%= image_tag "front_page_static/image_1.jpg" %>
        <!-- <img src="images/recent_work/image_1.jpg" alt="image 1" /> -->
			  </a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>
		</div>
		
		<!-- item 2 met extra class voor de margin -->
		<div class="recent_work top even">
			<a href="images/recent_work/image_2.jpg">
			  <%= image_tag "front_page_static/image_2.jpg" %>
			  <!-- <img src="images/recent_work/image_2.jpg" alt="image 2" /> -->
			  </a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>						
		</div>
		
		<!-- item 3 met extra class voor de margin -->
		<div class="recent_work top">
			<a href="images/recent_work/image_3.jpg">
			  <%= image_tag "front_page_static/image_3.jpg" %>
			  <!-- <img src="images/recent_work/image_3.jpg" alt="image 3" /> -->
			  </a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>						
		</div>
		
		<!-- nieuwe regel -->
		<div class="clear"></div>
		
		<!-- item 4 -->
		<div class="recent_work">
			<a href="images/recent_work/image_4.jpg">
			  <%= image_tag "front_page_static/image_4.jpg" %>
			  <!-- <img src="images/recent_work/image_4.jpg" alt="image 4" /> -->
			  </a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>						
		</div>
		
		<!-- item 5 met extra class voor de margin -->
		<div class="recent_work even">
			<a href="images/recent_work/image_5.jpg">
        <!-- <img src="images/recent_work/image_5.jpg" alt="image 5" /> -->
			  
			  <%= image_tag "front_page_static/image_5.jpg" %>
			</a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>						
		</div>
		
		<!-- item 6 met extra class voor de margin -->
		<div class="recent_work">
			<a href="images/recent_work/image_6.jpg">
			  <%= image_tag "front_page_static/image_6.jpg" %>
			  <!-- <img src="images/recent_work/image_6.jpg" alt="image 6" /> -->
			  </a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>						
		</div>
		
		<!-- nieuwe regel -->
		<div class="clear"></div>
	</li>				
	
	<li class="slide2">
		<div class="recent_work top">
			<a href="images/recent_work/image_1.jpg"><img src="images/recent_work/image_1.jpg" alt="image 1" /></a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>
		</div>
		<div class="recent_work top even">
			<a href="images/recent_work/image_2.jpg"><img src="images/recent_work/image_2.jpg" alt="image 2" /></a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>						
		</div>
		<div class="recent_work top">
			<a href="images/recent_work/image_3.jpg"><img src="images/recent_work/image_3.jpg" alt="image 3" /></a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>						
		</div>
		<div class="clear"></div>
		
		<div class="recent_work">
			<a href="images/recent_work/image_4.jpg"><img src="images/recent_work/image_4.jpg" alt="image 4" /></a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>						
		</div>
		<div class="recent_work even">
			<a href="images/recent_work/image_5.jpg"><img src="images/recent_work/image_5.jpg" alt="image 5" /></a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>						
		</div>
		<div class="recent_work">
			<a href="images/recent_work/image_6.jpg"><img src="images/recent_work/image_6.jpg" alt="image 6" /></a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>						
		</div>
		<div class="clear"></div>
	</li>				
	
	<li class="slide3">
		<div class="recent_work top">
			<a href="images/recent_work/image_1.jpg"><img src="images/recent_work/image_1.jpg" alt="image 1" /></a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>
		</div>
		<div class="recent_work top even">
			<a href="images/recent_work/image_2.jpg"><img src="images/recent_work/image_2.jpg" alt="image 2" /></a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>						
		</div>
		<div class="recent_work top">
			<a href="images/recent_work/image_3.jpg"><img src="images/recent_work/image_3.jpg" alt="image 3" /></a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>						
		</div>
		<div class="clear"></div>
		
		<div class="recent_work">
			<a href="images/recent_work/image_4.jpg"><img src="images/recent_work/image_4.jpg" alt="image 4" /></a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>						
		</div>
		<div class="recent_work even">
			<a href="images/recent_work/image_5.jpg"><img src="images/recent_work/image_5.jpg" alt="image 5" /></a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>						
		</div>
		<div class="recent_work">
			<a href="images/recent_work/image_6.jpg"><img src="images/recent_work/image_6.jpg" alt="image 6" /></a>
			<div class="recent_work_overlay">
				<div class="title">Monsters and Co</div>
				<div class="credits">Credits Craig Stanford</div>
			</div>						
		</div>
		<div class="clear"></div>
	</li>
</ul>