
<div class="span9 content">
  <%= create_guide("Schedule Post Production", 
        "Select project to <b>schedule post production deadline</b>" + "<br />" + 
        "Office: <b>#{current_office.name}</b>"   ).html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <a data-dismiss="alert" class="close">×</a>
      <strong>Well done!</strong> <%= flash[:notice].html_safe %>
    </div>
  <% end %>
  
  <% if flash[:error] %>
    <div class="alert alert-error">
      <a data-dismiss="alert" class="close">×</a>
      <strong>Create Failure!</strong> Please fill in all fields.
    </div>
  <% end %>
  
  
 
  <div class="row-fluid">
    <div id="data_list">
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Title</th> 
            <th>Package</th>
            <th style='text-align:center;' colspan='2'>Production Progress</th>
            <th colspan='2'>Post Production Schedule</th>
            <th>Deliverables</th>
            <th>Started </th>
            <th>Finished </th>
            <th>Delivered </th>
          </tr>
        </thead>
        
      
          
          
        <tbody>
          <% @projects.each do |project| %>
            <tr id='start_project-<%= project.id %>'>
              <td>
                <%= link_to project.title, assign_deadline_for_post_production_url( project )    %> 
                
                <% if project.is_production_finished == true %>
                  <span class="label label-success">Finish</span> 
                <% end %>
              </td>
         
              <td><%= project.package.name  %></td>
              
              <% if project.drafts.count == 0 %>
               
              
                <td colspan='4' style='text-align:center;'>
                  <span class="label label-important">Not Started. Ask Account Executive</span>
                </td>
              <% elsif project.drafts.count != 0   %>
                <td>
                  Draft <%= project.last_draft.number  %> (<%= project.last_draft.tasks.count%> tasks)
                </td>
                
               
                
                <% if project.last_draft.is_finished == false %>
                
                  <td>
                    <span class="label label-warning">On Progress</span> 
                  </td>
                <% else %>
                  <td>
                    <span class="label label-success">Finish</span>
                  </td>
                <% end %>
                
                
                <% if not project.post_production_scheduling_job_requests.first.nil? %>
                  <td>
                    <%= project.post_production_scheduling_job_requests.first.starting_date %>
                  </td>
                  <td>
                    <%= project.post_production_scheduling_job_requests.first.ending_date %>
                  </td>
                <% else %>
                  <td colspan='2' style='text-align:center;'>
                    <span class="label label-important">NA</span>
                  </td>
                <% end %>
                 
                  
              <% end %> 
              
              <td><%= project.deliverable_items.count  %></td>
              <td><%= project.started_deliverables.count   %></td>
              <td><%= project.finished_deliverables.count  %></td>
              <td><%= project.delivered_deliverables.count  %></td>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div><!-- end of #data_list -->
  </div>

</div><!--/span-->



<div class=" hidden" id="approve_propose_form_wrapper">
  <%= form_for Project.new, :url => start_project_url, :method => :post     do |f| %>
    <%= hidden_field_tag 'entity_id' , ''  %>
    <%= hidden_field_tag 'action_role', '' %>
    <%= hidden_field_tag 'action_value', '' %>
  <% end %>
</div>











