<tr id="crew_id-<%= employee.id %>">
  <td class="email"><%= employee.email  %></td>
  <td>
    <% if not employee.has_role?(:pro_photographer) and not employee.has_role?(:amateur_photographer)%>
      <span class="label">No</span>
    <% else %>
      <% if employee.has_role?(:pro_photographer)  %>
        <span class="label label-success">Pro</span>
      <% end %>

      <% if employee.has_role?(:amateur_photographer) and not employee.has_role?(:pro_photographer)%>
        <span class="label label-success">Amateur</span>
      <% end %>
    <% end %>
  </td>
  
  <td>
    <% if not employee.has_role?(:pro_videographer) and not employee.has_role?(:amateur_videographer)%>
      <span class="label">No</span>
    <% else %>
      <% if employee.has_role?(:pro_videographer) %>
        <span class="label label-success">Pro</span>
      <% end %>

      <% if employee.has_role?(:amateur_videographer) and not employee.has_role?(:pro_videographer)%>
        <span class="label label-success">Amateur</span>
      <% end %>
    <% end %>
  </td>
  
  
  
  <% checkbox_value = package.has_employee_assignment?( employee) %>
  
  
  <% if  checkbox_value == true  %>
    <% package_assignment = package.package_assignment_for(employee) %>
    <td class="price">
      <%= print_money(package_assignment.price )%>
    </td>
    <td>
      <%= check_box_tag 'is_checked', get_checkbox_value(checkbox_value )   , 
          checkbox_value, :class => 'checkbox_tracker', 
          :id => "provider_#{package.id}-consumer_#{employee.id}" %>
    </td>
    
    <td>
      
      <%= link_to "Edit Price", edit_crew_specific_package_price_url( package, employee) , 
        :class => "btn btn-mini btn-primary modal_trigger" %>
    </td>
  <% else %>
    <td colspan="3">
      

      <%= check_box_tag 'is_checked', get_checkbox_value(checkbox_value )   , 
          checkbox_value, :class => 'checkbox_tracker', 
          :id => "provider_#{package.id}-consumer_#{employee.id}" %> 
    </td>
  <% end %>
  
  
  
  
</tr>